* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.5;
    color: #333;
    background-color: aliceblue;
}

header {
    background: linear-gradient(135deg, #059e1f 0%, #bcceec 100%);
    color: white;
    padding: 1rem 5%;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nav-links {
    display: flex;
    list-style: none;
    gap: 20px;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

.nav-links a:hover {
    text-decoration: underline;
}

.logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.hero {
    background: linear-gradient(135deg, #000000 0%, #09d102 100%);
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: antiquewhite;
    position: relative;
    overflow: hidden;
}

.hero::before, .hero::after {
    content: "";
    position: absolute;
    background-color: #36a10446;
    border-radius: 50%;
    z-index: 1;
}

.hero::before {
    width: 300px;
    height: 300px;
    top: -200px;
    left: -100px;
}

.hero::after {
    width: 500px;
    height: 500px;
    bottom: -250px;
    right: -150px;
}

.hero-content {
    position: relative;
    z-index: 2;
}

.hero h1 {
    font-size: 3rem;
    margin-bottom: 1rem;
    font-weight: bold;
}

.hero p {
    font-size: 1.1rem;
    margin-bottom: 30px;
    opacity: 0.9;
}

.btn {
    background-color: #da5d0a;
    color: white;
    text-decoration: none;
    padding:  12px 30px;
    border-radius: 25px;
    font-weight: bold;
    transition: background-color 0.3s ease;
}

.btn:hover {
    background-color: #7c3105;
}

.sports-section {
    padding: 50px 20px;
    background-color: #f9f9f9;
    text-align: center;
}

.sports-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;
    max-width: 1100px;
    margin: 0 auto;
}

.sport-card {
    background-color: rgb(231, 227, 227);
    border-radius: 15px;
    overflow: hidden;
    box-shadow: 0 4px 15px rgba(0,0,0,0.1);
    text-align: left;
    transition: transform 0.3s ease;
}

